/*********
BG Image 
*********/

@mixin bgImage($img){
    background-image: url($img);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/**********
Container 
**********/

@mixin container($size){
    max-width: $size;
    margin: auto;
}